body {
  background: url(../img/Weather-Background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  font-size: 2em;
  text-shadow: 5px 3px 10px #FF0000;
}
.container {
  max-width: 300px;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}